.root {
    height: 100vh;
	background: url('assets/img/bg.jpg') no-repeat center;
	background-size:cover;
}

.banner {
    display: flex;
    margin-bottom: 37px;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
}

.banner > p {
    font-size: 22px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #e74c3c;
    max-width: 250px;
}

@media screen and (min-width: 800px) {
    .banner > p {
        font-size: 28px;
    }
}