.root {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #333;
}

.root > img {
    cursor: pointer;
    width: 33%;
    height: 90%;
}

.logo {
    display: flex;
    justify-content: center;
	font-family: 'Roboto', sans-serif;
	
	color: #000;
}

.logo a:-webkit-any-link {  
	text-decoration: none !important;
}

@media screen and (min-width: 500px) {
    .root > img {
        width: 27%;
    }
}

@media screen and (min-width: 600px) {
    .root > img {
        width: 18%;
    }
}

@media screen and (min-width: 850px) {
    .root > img {
        width: 15%;
    }
}

@media screen and (min-width: 1000px) {
    .root > img {
        width: 10%;
    }
}