.root {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'sans-serif';
    color: #555;
}

.location {
    font-size: 12px;
    color: #888;
    margin-top: -17px;
}

.profile-section {
    display: flex;
    flex-direction: column;
}

.img-area {
    width: 100%;
}

.img-area > img {
    display: block;
    width: 100%;
}

.details, .comments {
    padding: 0 15px;
}